*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
# darknet "the file name that include this will all be ignored"
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# windows & vs
build/darknet/Debug/
build/darknet/x64/
build/darknet/bad.list
*.sdf
*.opensdf